.screen-main {
  display: flex;
  position: relative;
  font-family: "Abril Fatface", cursive;
}

.screen-components {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  vertical-align: middle;
  width: 100%;
  /* top: 50%; */
  z-index: 1;
}

/* Clock Styling */
.screen-components__clock {
  font-size: 100px;
  margin-top: 100px;
}

/* User inputs */

.screen-components__user-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 300px;
  width: 100%;
  justify-content: center;
}

#todo-list > li {
  /* 그리드 맞추는 부분부터 시작하기 */
}

.screen-components__login-form {
  margin-right: 50px;
}

input::placeholder,
button {
  font-family: "Abril Fatface", cursive;
  font-size: 9px;
  opacity: 50%;
  text-align: center;
}

/* Quotes styling */
.screen-components__quotes {
  margin-top: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-components__quotes > span {
  display: block;
  padding: 10px 10px;
  font-size: 20px;
  color: white;
  box-shadow: 10px 5px 5px whitesmoke;
  border-radius: 20px;
}

.screen-components__quotes > span:nth-child(2) {
  margin-top: 50px;
  font-size: 50px;
}

/* Image styling */

.screen-main__img {
  position: absolute;
  opacity: 90%;
  z-index: 0;
}
