.screen-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Abril Fatface", cursive;

  /* 백그라운드 색깔 부분 */
  background: linear-gradient(45deg, blue, yellow);
}

.screen-components {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 100%;
}

/* Clock Styling */
.screen-components__clock {
  font-size: 100px;
  color: white;
}

/* User inputs */

.screen-components__user-input {
  width: 100%;
}

.screen-components__user-input > h1 {
  font-size: 50px;
  animation: user-input__animation 2s ease-out infinite;
}

@keyframes user-input__animation {
  0% {
    border-color: yellow;
  }
  50% {
    color: blue;
  }
  100% {
    color: red;
  }
}

.screen-components__login-form {
  position: relative;
  text-align: center;
  top: 100px;
}

.screen-components__login-form > input {
  width: 200px;
  height: 22px;
}

.screen-components__login-form > button {
  width: 100px;
  /* height: 25px; */
}

input::placeholder,
button {
  font-family: "Abril Fatface", cursive;
  font-size: 15px;
  opacity: 50%;
  text-align: center;
}

/* Quotes styling */
.screen-components__quotes {
  margin-top: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-components__quotes > span {
  padding: 10px 10px;
  font-size: 20px;
  color: white;
}

.screen-components__quotes > span:nth-child(2) {
  margin-top: 50px;
  font-size: 50px;
}

i {
  margin-top: 50px;
  font-size: 25px;
}

i:hover {
  color: red;
}
