/* to-do parts */

#todo-form > input {
  display: block;
  position: absolute;
  bottom: 60%;
  left: 65%;
  width: 300px;
  height: 30px;
}

#todo-form > input::placeholder {
  font-size: 15px;
}

.screen-components__todo-list {
  position: relative;
  width: 50%;
  height: 400px;
  top: 150px;
  text-align: center;
  border: 1px solid blue;
}

#todo-list {
  display: flex;
  flex-direction: column;
}

#todo-list > li {
  margin-bottom: 10px;
}

#todo-list > li > button {
  position: absolute;
  left: 30%;
}
