/* to-do parts */

.todo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 500px;
  bottom: 129px;
  height: 100%;
}

.todo-section__form {
  position: absolute;
  bottom: 500px;
}

#todo-form > input {
  width: 300px;
  height: 50px;
  border: 3px solid;
  animation: inputBorder 1s ease infinite;
}

@keyframes inputBorder {
  from {
    border-color: blue;
  }
  to {
    border-color: yellow;
  }
}

.todo-section__form-list {
  display: flex;
  position: absolute;
  width: 200px;
  height: 100%;
  bottom: 200px;
}

#todo-list > li {
  display: flex;
  align-items: center;
  right: 55px;
  width: 200px;
}

#todo-list > li > span {
  padding-left: 10px;
}

#todo-form > input::placeholder {
  font-size: 30px;
}

#left-arrow {
  position: absolute;
  font-size: 25px;
}
